*~
*.o
*.lo
*.a
*.la
*.pyc
*.pyo
.deps/
.libs/
*.mql
TAGS
emdros-*.tar.gz
emdf3
emdf4
out.txt
valgrind.out.txt
callgrind.*
aclocal.m4
config.log
config.status
Makefile
Makefile.in
lemon
lempar.c
lemon.c
EMdF/json.c
EMdF/json.h
EMdF/json.out
EMdF/json_lexer.cpp
EMdF/json_parser.cpp
EMdF/jsonpars.h
MQL/mql.c
MQL/mql.h
MQL/mql.out
MQL/mql_get_query.cpp
MQL/mql_lexer.cpp
MQL/mql_parser.cpp
MQL/mqlpars.h
SWIG/csharp/*.cs
SWIG/csharp/CSharpSources.zip
SWIG/csharp/EmdrosDotNet.dll
SWIG/csharp/libcsemdros_wrap.cxx
SWIG/java/*.java
SWIG/java/jemdros.jar
SWIG/java/libjemdros_wrap.cxx
SWIG/nodejs/binding.gyp
SWIG/nodejs/emdros-config.h
SWIG/nodejs/emdros-lconfig.h
SWIG/nodejs/emdros.h
SWIG/nodejs/emdros_amalgamation_1.cpp
SWIG/nodejs/emdros_amalgamation_2.cpp
SWIG/nodejs/emdros_c_amalgamation_1.c
SWIG/nodejs/emdros_c_amalgamation_2.c
SWIG/nodejs/emdrosnode_wrap.cxx
SWIG/nodejs/built.node
SWIG/nodejs/build
SWIG/perl/EmdrosPerl.pm
SWIG/perl/plemdros_wrap.cxx
SWIG/perl/test.pl
SWIG/php/EmdrosPHP.ini
SWIG/php/EmdrosPHP.php
SWIG/php/php_EmdrosPHP.h
SWIG/php/phpemdros_wrap.cpp
SWIG/php/phpemdros_wrap.h
SWIG/php7/EmdrosPHP7.ini
SWIG/php7/EmdrosPHP7.php
SWIG/php7/php7emdros_wrap.cxx
SWIG/php7/php7emdros_wrap.h
SWIG/php7/php_EmdrosPHP7.h
SWIG/python/EmdrosPy.py
SWIG/python/pyemdros_wrap.cxx
SWIG/python3/EmdrosPy3.py
SWIG/python3/py3emdros_wrap.cxx
SWIG/ruby/rbemdros_wrap.cxx
SWIG/ruby/test.rb
autom4te.cache/
aclocal.m4
compile
config.guess
config.sub
configure
debian/docs
debian/rules
debian/emdros.postinst
debian/emdros.postrm
debian/emdros.prerm
depcomp
doc/*.html
doc/*.pdf
doc/*.eps
doc/eqt.1
doc/eqtc.1
doc/eqtu.1
doc/eqtu.1.in
doc/mqlhal.1
doc/progref/*.htm
doc/progref/*.html
doc/progref/EmdrosProgRefGuide.aux
doc/progref/EmdrosProgRefGuide.hhc
doc/progref/EmdrosProgRefGuide.hhk
doc/progref/EmdrosProgRefGuide.htb
doc/progref/EmdrosProgRefGuide.log
doc/progref/EmdrosProgRefGuide.out
doc/progref/EmdrosProgRefGuide.pdf
doc/progref/EmdrosProgRefGuide.tex
doc/progref/EmdrosProgRefGuide.toc
doc/progref/config.py
doc/progref/*.zip
*.spec
examples/ChunkingTool/Info.plist
examples/ChunkingTool/chunkingtoolu
examples/ChunkingTool/doc/*.htm
examples/ChunkingTool/doc/ChunkingToolGuide.aux
examples/ChunkingTool/doc/ChunkingToolGuide.hhc
examples/ChunkingTool/doc/ChunkingToolGuide.hhk
examples/ChunkingTool/doc/ChunkingToolGuide.htb
examples/ChunkingTool/doc/ChunkingToolGuide.log
examples/ChunkingTool/doc/ChunkingToolGuide.out
examples/ChunkingTool/doc/ChunkingToolGuide.pdf
examples/ChunkingTool/doc/ChunkingToolGuide.tex
examples/ChunkingTool/doc/ChunkingToolGuide.toc
examples/ChunkingTool/doc/MyPgConnSettingsFilled.png
examples/ChunkingTool/doc/MyPgSQLConnSettings.png
examples/ChunkingTool/doc/SQLiteConnSettings.png
examples/ChunkingTool/doc/SQLiteConnSettingsFilled.png
examples/ChunkingTool/doc/buildhtb.py
examples/ChunkingTool/doc/commit.png
examples/ChunkingTool/doc/config.py
examples/ChunkingTool/doc/connect.png
examples/ChunkingTool/doc/flash.png
examples/ChunkingTool/doc/leftarrow.png
examples/ChunkingTool/doc/rightarrow.png
examples/ChunkingTool/doc/together.png
examples/HAL/doc/*.html
examples/HAL/doc/HALGuide.aux
examples/HAL/doc/HALGuide.log
examples/HAL/doc/HALGuide.out
examples/HAL/doc/HALGuide.pdf
examples/HAL/doc/HALGuide.tex
examples/HAL/doc/HALGuide.toc
examples/HAL/doc/buildhtb.py
examples/HAL/doc/cms.css
examples/HAL/doc/config.py
examples/HAL/doc/dot.gif
examples/HAL/hal_build_db
examples/HAL/hallexer.cpp
examples/HAL/mqlhal
harvest/templatelang.c
harvest/templatelang.out
harvest/templatelang_lexer.cpp
harvest/templatelang_parser.cpp
harvest/templatelangpars.h
harvest/emdroslang.c
harvest/emdroslang.out
harvest/emdroslang_lexer.cpp
harvest/emdroslang_lexer.h
harvest/emdroslang_parser.cpp
harvest/emdroslangpars.h
include/emdros-config.h
include/emdros-config.h.in
include/emdros-lconfig.h
include/emdros_reserved_words.h
include/mqlpars.h
include/pcre_config.h
include/pcre_emdros.h
include/prefix_emdros.h
include/sqlite3_emdros.h
include/sqlite_emdros.h
include/stamp-h1
include/version-emdros.h
include/zlib_emdros.h
install-sh
install_mac.sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
pcre/dftables
pcre/pcre_chartables.c
sqlite/src/opcodes.c
sqlite/src/opcodes.h
sqlite/src/parse.c
sqlite/src/parse.h
sqlite/src/parse.out
sqlite/src/sqconfig.h
sqlite/src/sqlite.h
sqlite/src/sqlite_emdros
sqlite/src/temp
sqlite/src/temp.c
sqlite3/src/sqlite3_emdros
sqlite3/src/sqlite3_localamalgam.c
src/agexport
src/bptdump
src/fts_harvester
src/fts_indexer
src/importtool/Info.plist
src/importtool/doc/*.htm
src/importtool/doc/ImportToolUsersGuide.aux
src/importtool/doc/ImportToolUsersGuide.hhc
src/importtool/doc/ImportToolUsersGuide.hhk
src/importtool/doc/ImportToolUsersGuide.htb
src/importtool/doc/ImportToolUsersGuide.log
src/importtool/doc/ImportToolUsersGuide.out
src/importtool/doc/ImportToolUsersGuide.pdf
src/importtool/doc/ImportToolUsersGuide.tex
src/importtool/doc/ImportToolUsersGuide.toc
src/importtool/doc/buildhtb.py
src/importtool/doc/config.py
src/importtool/importtoolu
src/manage_indices
src/mql
src/mqldump
src/negraimport
src/pennimport
src/plaintextimport
src/qrytool/Info.plist
src/qrytool/TECkit/TECkit_Compile
src/qrytool/TECkit/TxtConv
src/qrytool/doc/*.htm
src/qrytool/doc/EQTUsersGuide.aux
src/qrytool/doc/EQTUsersGuide.hhc
src/qrytool/doc/EQTUsersGuide.hhk
src/qrytool/doc/EQTUsersGuide.htb
src/qrytool/doc/EQTUsersGuide.log
src/qrytool/doc/EQTUsersGuide.out
src/qrytool/doc/EQTUsersGuide.pdf
src/qrytool/doc/EQTUsersGuide.tex
src/qrytool/doc/EQTUsersGuide.toc
src/qrytool/doc/buildhtb.py
src/qrytool/doc/clear.png
src/qrytool/doc/config.py
src/qrytool/doc/connect.png
src/qrytool/doc/copy.png
src/qrytool/doc/cut.png
src/qrytool/doc/flash.png
src/qrytool/doc/new.png
src/qrytool/doc/open.png
src/qrytool/doc/paste.png
src/qrytool/doc/save.png
src/qrytool/doc/stop.png
src/qrytool/eqtc
src/qrytool/eqtu
src/renderobjects
src/sfmimport
src/slashedtextimport
src/tigerxmlimport
src/ubimport
src/upgrade_db
src/bptdetach
tests/asv/asv.mql
tests/Info.plist.htmlcanvastest
tests/Info.plist.htreetest
tests/bptqa.h
tests/bpttry
tests/emdftry
tests/emdros_utiltry
tests/htmlcanvastestu
tests/htreetestu
tests/jsontry
tests/mqllingtry
tests/mqlqa.h
tests/mqltry
tests/erwtry
tests/emdros_qdtry
util/emdfxml_dtd.h
util/negraschema.h
util/pennlexer.cpp
util/pennparser.cpp
util/pennparser.h
util/pennparser.out
util/pennschema.h
util/plaintextschema.h
util/simplebibleschema.h
util/slashedtextschema.h
win32/config.mak
win32/emdros.nsi
SWIG/Android/jemdros-*.zip
SWIG/Android/app/
SWIG/Android/Java/
SWIG/Android/Cpp/
extrafiles-emdros-devel.txt
extrafiles-emdros.txt
generate_extrafiles.py
debian/emdros.doc-base
tests/asv/asv.sqlite3
tests/asv/asv.sqlite3.fts_harvester.fe1.1.txt
tests/asv/asv.sqlite3.fts_harvester.fe1.1.xml
tests/asv/asv.sqlite3.fts_harvester.fe1.2.txt
tests/asv/asv.sqlite3.fts_harvester.fe1.2.xml
tests/asv/asv.sqlite3.fts_harvester.fe2.1.txt
tests/asv/asv.sqlite3.fts_harvester.fe2.1.xml
tests/asv/asv.sqlite3.fts_harvester.fe2.2.txt
tests/asv/asv.sqlite3.fts_harvester.fe2.2.xml
tests/asv/asv.sqlite3.renderobjects.context.xml
tests/asv/asv.sqlite3.renderobjects.parallel.xml
tests/asv/asv.sqlite3.renderxml.context.xml
tests/asv/asv.sqlite3.renderxml.parallel.xml
tests/asv/diff.txt
tests/test_json/diff.txt
tests/test_json/test1.txt
tests/test_json/test2.txt
tests/test_json/test3.txt
tests/test_json/testerror1.txt
tests/test_json/testerror2.txt
tests/test_json/testerror3.txt
amalgamation/amalgamation_made.txt
amalgamation/emdros-config.h
amalgamation/emdros-lconfig.h
amalgamation/emdros.h
amalgamation/emdros_amalgamation_1_emdros.cpp
amalgamation/emdros_amalgamation_2_importers.cpp
amalgamation/emdros_c.h
amalgamation/emdros_c_amalgamation_1.c
amalgamation/emdros_c_amalgamation_2.c
amalgamation/mkamalgamation
