[Desktop Entry]
Type=Application
Terminal=false
Exec=importtoolu
Icon=scripturesys-blue-E
Name=Emdros Import Tool
Comment=Convert text and corpora to Emdros MQL for later import
Categories=Education
StartupWMClass=Importtoolu
