# Configuration file for the Emdros Query Tool
#
# The following will be replaced in a value:
#
# SPACE         will be replaced by    " "
# COMMA                  "             ","
# COMMA_SPACE            "             ", "
# COLON                  "             ":"
# COLON_SPACE            "             ": "
# OPEN_BRACKET           "             "["
# CLOSE_BRACET           "             "]"
# OPEN_BRACE             "             "{"
# CLOSE_BRACE            "             "}"
# OPEN_PAREN             "             "("
# CLOSE_PAREN            "             ")"
# NEWLINE                "             newline
# NIL                    "             NIL
# anything else          "             the actual value
#

# database
#database = "c:\path\to\mydb"

# rasterising unit
raster_unit          = documentroot

#
# raster context monads
# if you specify a raster_unit, that will take precedence over these two.
# If you leave out the raster_unit, both of the following must be given.
#
#raster_context_before  = 10
#raster_context_after   = 15


# data units
data_unit   = documentroot
data_unit   = intj
data_unit   = s
data_unit   = s1
data_unit   = sbar
data_unit   = sbarq
data_unit   = sinv
data_unit   = sq
data_unit   = adjp
data_unit   = advp
data_unit   = conjp
data_unit   = frag
data_unit   = nac
data_unit   = np
data_unit   = nx
data_unit   = pp
data_unit   = prn
data_unit   = prt
data_unit   = qp
data_unit   = rrc
data_unit   = ucp
data_unit   = vp
data_unit   = whadjp
data_unit   = whadvp
data_unit   = whnp
data_unit   = whpp
data_unit   = x
data_unit   = token

data_feature         	     	 = token.surface
data_feature         	     	 = token.mytype
#data_feature   = adjp.function
#data_feature   = advp.function
#data_feature   = conjp.function
#data_feature   = frag.function
#data_feature   = intj.function
#data_feature   = nac.function
#data_feature   = np.function
#data_feature   = nx.function
#data_feature   = pp.function
#data_feature   = prn.function
#data_feature   = prt.function
#data_feature   = qp.function
#data_feature   = rrc.function
#data_feature   = s.function
#data_feature   = s1.function
#data_feature   = sbar.function
#data_feature   = sbarq.function
#data_feature   = sinv.function
#data_feature   = sq.function
#data_feature   = ucp.function
#data_feature   = vp.function
#data_feature   = whadjp.function
#data_feature   = whadvp.function
#data_feature   = whnp.function
#data_feature   = whpp.function
#data_feature   = x.function

# TECKit mapping
#data_feature_teckit_mapping  	 = word.graphical_word."./Amsterdam.map"
#data_feature_teckit_in_encoding  = word.graphical_word.bytes
#data_feature_teckit_out_encoding = word.graphical_word.unicode


# Boundaries. Not used with output_style = tree
#data_left_boundary   	         = phrase.OPEN_BRACKET
#data_right_boundary  	         = phrase.CLOSE_BRACKET
#data_left_boundary   	         = clause.OPEN_BRACE
#data_right_boundary  	         = clause.CLOSE_BRACE


# Tree parent feature.
# If output_style = tree, then it is assumed that
# there is a feature on all relevant data units which gives the
# id_d of the parent.  That is, each child node in the tree
# must have a feature which provides the id_d of its parent.
# If a data_unit is provided which does not have a data_tree_parent,
# then that data_unit *must* contain the top-most nodes in the tree.

data_tree_parent   = documentroot.parent
data_tree_parent   = adjp.parent
data_tree_parent   = advp.parent
data_tree_parent   = conjp.parent
data_tree_parent   = frag.parent
data_tree_parent   = intj.parent
data_tree_parent   = nac.parent
data_tree_parent   = np.parent
data_tree_parent   = nx.parent
data_tree_parent   = pp.parent
data_tree_parent   = prn.parent
data_tree_parent   = prt.parent
data_tree_parent   = qp.parent
data_tree_parent   = rrc.parent
data_tree_parent   = s.parent
data_tree_parent   = s1.parent
data_tree_parent   = sbar.parent
data_tree_parent   = sbarq.parent
data_tree_parent   = sinv.parent
data_tree_parent   = sq.parent
data_tree_parent   = ucp.parent
data_tree_parent   = vp.parent
data_tree_parent   = whadjp.parent
data_tree_parent   = whadvp.parent
data_tree_parent   = whnp.parent
data_tree_parent   = whpp.parent
data_tree_parent   = x.parent
data_tree_parent   = token.parent


# Tree terminal unit.
# If output_style = tree, then the Emdros Query Tool needs to know
# which object types are terminals (i.e., leaf nodes in the tree)
# and which object types are non-terminals.  This is done by
# designating *one* (1) data_unit to be the data_tree_terminal_unit.
# The rest of the data_units will then be non-terminals.
data_tree_terminal_unit = token

# Tree nonterminal unit name.
#
# If and only if this is set to "true" (without the quotes),
# use the object type name as the node name in the tree.
#
# otherwise, it is advisable to add data_feature entries for all
# nonterminal units, which will then be shown.
#
# You can set this to "true" and still use data_feature -- the features
# will then be addedbelow the object type name.
#
data_tree_object_type_name_for_nonterminals = true



# reference unit (you can only have one reference unit)
#reference_unit      = verse
#reference_feature   = verse.book
#reference_feature   = verse.chapter
#reference_feature   = verse.verse

# Will be placed between the reference_feature's above.
#
reference_sep = SPACE # between book and chaptera
reference_sep = COMMA # between chapter and verse

# hit types
# The following are available:
#      focus
#      innermost_focus
#      innermost
#      outermost
#
# The default is outermost.
#hit_type = focus
hit_type = innermost
#hit_type = innermost
#hit_type = outermost


#
# output_styles available:
#
# output: A bracketed view
# kwic: A Keywords in Context view. First focus-monad is keyword
#
#output_style = kwic
output_style = tree
#output_style = output

# display options
         # The only possibility right now.
option = apply_focus           # Highlight focus?
option = break_after_raster    # Newline after each raster unit?
#option = right_to_left        # Right-to-left? If off: Left-to-right.
#option = single_raster_units  # Any given raster unit will only show up once.


# Fonts
input_area_font_name  = "Courier New"
input_area_font_size  = 12
output_area_font_name_1 = "Times New Roman"
output_area_font_name_2 = "Courier"
output_area_magnification  = 100


