[Desktop Entry]
Type=Application
Terminal=false
Exec=eqtu
Icon=scripturesys-blue-E
Name=Emdros Query Tool
Comment=Query Emdros databases interactively
Categories=Education
StartupWMClass=Eqtu
