# Configuration file for Westcott-Hort database available from
# http://emdros.org/WH.mql.zip
#
# The following will be replaced in a value:
#
# SPACE         will be replaced by    " "
# COMMA                  "             ","
# COMMA_SPACE            "             ", "
# COLON                  "             ":"
# COLON_SPACE            "             ": "
# OPEN_BRACKET           "             "["
# CLOSE_BRACET           "             "]"
# OPEN_BRACE             "             "{"
# CLOSE_BRACE            "             "}"
# OPEN_PAREN             "             "("
# CLOSE_PAREN            "             ")"
# NEWLINE                "             newline
# NIL                    "             NIL
# anything else          "             the actual value
#

# database
database = "/home/ulrikp/db/wh"

# rasterising unit
raster_unit          = verse

#
#
# raster context monads
# if you specify a raster_unit, that will take precedence over these two.
# If you leave out the raster_unit, both of the following must be given.
#
#raster_context_before  = 10
#raster_context_after   = 15

 data units
data_unit            = word
data_feature         = word.surfaceutf8
#data_feature         = word.parsing
#data_feature         = word.lemmautf8


# reference units
reference_unit      = verse
reference_feature   = verse.book
reference_feature   = verse.chapter
reference_feature   = verse.verse

# Will be placed between the reference_feature's above.
#
reference_sep = SPACE # between book and chaptera
reference_sep = COLON # between chapter and verse

# hit types
# The following are available:
#      focus
#      innermost_focus
#      innermost
#      outermost
#
# The default is outermost.
#hit_type = focus
hit_type = innermost
#hit_type = innermost
#hit_type = outermost


#
# output_styles available:
#
# output: A bracketed view
# kwic: A Keywords in Context view. First focus-monad is keyword
#
#output_style = kwic
output_style = output

# display options
option = apply_focus
option = break_after_raster
#option = single_raster_units



# Fonts -- input area
input_area_font_name  = "Arial MS Unicode"
input_area_font_size  = 11

# Fonts -- output area
output_area_font_name_1 = "Galatia SIL"
#output_area_font_name_2 = "Courier"
#output_area_font_name_3 = "Galatia SIL"
output_area_magnification  = 100

	
