[Desktop Entry]
Encoding=UTF-8
Type=Application

Exec=chunkingtoolu
Icon=emergence-blue-E

Name=Emdros Chunking Tool
Comment=Divide Emdros databases into indentable chunks

Categories=Education;Languages;
